@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");
@import url("reset.css");

#cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.card--user {
  display: grid;
  grid-template-columns: 30% auto;
  gap: 1rem;
  padding: 0;
  overflow: hidden;
}
.card--user img {
  grid-row: span 2;
}
h2,
p {
  margin-bottom: 0;
  align-self: center;
}
h2 {
  align-self: end;
}
p {
  align-self: start;
}
.listDiv {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
